body {
    background-color: lightgrey;
}

h1 {
    color: greenyellow;
    text-align: left;
}

h2 {
    color: black;
    text-align: center;
    margin-bottom: 5%;
}

.tablezinha {
    margin-bottom: 10%;
}

p {
    color: red;
    font-size: 20px;
    text-align: left;
}

a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

tr {
    color: red;
    font-size: 30px;
}

.pp {
    background-image: url("../Iprojetinho/galaxy.gif.gif");

}

.avioes {
    img {
        width: 500px;
    }

    h3 {
        color: red;
    }

}

.momentos {
    img {
        width: 500px;
    }

    h3 {
        color: red;
    }
}

.espacamentoentrefotos {
    margin-top: 10%;
    margin-bottom: 10%;
}

.chgpgportsgr {
    text-transform: capitalize;
    font-family: cursive;
    word-spacing: 5px;
    float: right;
}

#fonteh3portoseguro {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
    font-style: oblique;
    margin-bottom: 2%;
}

.poema1 {
    background-color: black;
    width: 100%;
    height: 300px;
    overflow: auto;

}

.poema1 img {
    float: right;
    margin-left: 5%;
    margin-right: 2%;
    border-style: double;
}

.navforsite {
    display: flex;
    flex-flow: row;
    justify-content: space-around;


}

.navforsite div a {
    text-align: center;
    flex-grow: 1;

}

.navforsite div a:hover {
    color: violet;
    background-color: white;
    padding: 1%;
    justify-content: space-around;
}


/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {}